<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8">
  <title>Chat</title>
</head>
<body>
<div class="screen" layout:fragment="content">
  <main id="content" class="row">

    <div id="chat_block" class="col s7">
      <div th:if="${!messages.isEmpty()}" class="layer">
        <div class="row" th:each="msg : ${messages}">
          <div class="col">
            <div class="w-100"></div>
            <div class="col">
              <p th:text="${msg.getAuthor()}"></p>
            </div>
            <div class="col">
                            <span>
                                <p style="text-align:left"
                                   th:text="${#temporals.format(msg.getCreatedDateTime(), 'dd-MM-yyyy HH:mm:ss')}"/>
                            </span>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <p th:text="${msg.getMessageText()}"></p>
            </div>
            <br>
          </div>
        </div>
      </div>

      <!--        Message form-->
      <form th:action="@{/messages}" method="post" id="sendMessage">
        <div class="row">
          <div class="input-field col s12">
            <label for="messageText">Enter message</label>
            <input type="text" id="messageText" th:name="messageText" class="materialize-textarea">
            <button class="btn waves-effect waves-light right teal green " type="submit">
              Send
            </button>
          </div>
        </div>
      </form>
    </div>
    <!--Users list-->
    <h4 class="center-align">Users</h4>
    <div id="broadcast_block " class="col s3">
      <div class="row">
        <div class="col layer" style="height: 320px">
          <!--                    Users list-->
        </div>
      </div>
    </div>
  </main>
</div>
</body>
</html>