<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<h2 style="width: 340px; margin: 40px auto">Please sign in.</h2>
<div id="loginFormDiv" class="screen">
    <div class="login-form" style="width: 340px; margin: 40px auto">
        <form style="align-content: center" th:action="@{/login}" method="post" id="loginForm">
            <div>
                <label for="username">Login</label>
                <input type="text" id="username" name="username" placeholder="login">
            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="password">
            </div>

            <button type="submit" id="loginButton">Log in</button>
            <a href="/registration" style="width: 100px; margin: auto auto auto 195px">Registration</a>
        </form>

    </div>
</div>
</body>
</html>