<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div id="loginFormDiv" class="screen" layout:fragment="content">
  <div class="login-form" style="width: 340px; margin: 40px auto">
    <form style="align-content: center" th:action="@{/login}" method="post" id="loginForm">
      <div>
        <label for="username">Login</label>
        <input type="text" id="username" name="username">
      </div>

      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
      </div>

      <button type="submit" id="loginButton">Log in</button>
    </form>

  </div>
</div>
</body>
</html>