<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Messages</title>
</head>
<body>
<div th:switch="${messages}">
  <h2 th:case="null">No found!</h2>
  <div th:case="*">
    <h2>Messages</h2>
    <table>
      <thead>
      <tr>
        <div th:each="el : ${messages}" class="alert alert-info mt-2">
          <h3 th:text="'Message id: ' + ${el.message_id} + '.  Text: ' +${el.text} + '.' "/>
        </div>
      </tr>
      </thead>
    </table>
  </div>
</div>
</body>
</html>