<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Room</title>
</head>
<body>
<div th:switch="${messages}">
  <h2 th:case="null">No found!</h2>
  <div th:case="*">
    <h2>Room <td th:text="${room_id}"></td></h2>
    <table>
      <thead>
      <tr>
        <td>Author</td>
        <td>|Text</td>
      </tr>
      <tr th:each="el : ${messages}" class="alert alert-info mt-2">
        <td th:text="${el.author.user_id}"></td>
        <td th:text="${el.text}"></td>
<!--        <td><a th:href="@{messages/update/{id}(id=${el.message_id})}">Edit</a></td>-->
<!--        <td><a th:href="@{messages/delete/{id}(id=${el.message_id})}">Delete</a></td>-->
      </tr>
      </thead>
    </table>
    <p><a href="/messages/create">Send message</a></p>
</div>
</div>
</body>
</html>