<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Edit room</title>
</head>
<body>
<h2>Edit room</h2>
<form action="#" th:action="@{/rooms/update}" th:object="${room}" method="post">
  <label for="room_id">ID</label>
  <input readonly type="number" th:field="*{room_id}" id="room_id" placeholder="ID">
  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name" placeholder="room name">

  <label for="public_access">Public access</label>
  <input type="checkbox" th:field="*{public_access}" id="public_access" placeholder="Public access">

  <label for="owner_id">Owner id</label>
  <input type="number" th:field="*{owner_id.user_id}" id="owner_id" placeholder="Owner id">

  <input type="submit" value="Update room">
</form>
</body>
</html>